@import url("../css/styles.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    background-color: #1a1a2e; /* Fondo oscuro futurista */
}

/* Estilo del header */
.bg-gradient-futuristic {
    background: linear-gradient(135deg, #00f260, #0575e6); /* Degradado futurista */
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.3); /* Sombra con efecto neón */
}

body {
    background-color: var(--tertiary-color);
}
 
.filtros {
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5); /* Efecto neón suave */
    margin-top: 2rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.reportes {
    min-height: calc(100vh - 5rem);
}

.test {
    height: 100%;
}

#mireportes {
    background-color: var(--primary-color-light-2);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.estatus-en-proceso {
    background-color: #fff59d; /* Amarillo moderado */
}

.estatus-aceptado {
    background-color: #a5d6a7; /* Verde moderado */
    color: #1a441c;
}

.estatus-rechazado {
    background-color: #ef9a9a; /* Rojo moderado */
    color: #6e1818;
}

.estatus-completado {
    background-color: #90caf9; /* Azul moderado */
    color: #0f3663;
}

.selecionable {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.selecionable:hover {
    background-color: var(--primary-color-light-1); /* o el color que prefieras para el hover */
}

.selecionable:active {
    transform: scale(0.98);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
    cursor: pointer;
}


.dynamic-table {
    max-height: 150px;
    overflow-y: auto;
}

canvas{
    max-height: 70vh;
}

/* Espaciado entre las filas de tablas */
#reportTablesContainer .row {
    margin-bottom: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    .table-card {
        margin-bottom: 20px;
    }
}