/* Definición de variables de colores modernos */
:root {
  --primary-color: #ff6b6b; /* Rojo coral vibrante */
  --secondary-color: #1e272e; /* Azul marino oscuro */
  --accent-color: #54a0ff; /* Azul claro brillante */
  --background-color: #f1f2f6; /* Fondo claro neutro */
  --text-color: #2f3640; /* Texto oscuro para buen contraste */
  --overlay-color: rgba(30, 39, 46, 0.6); /* Superposición oscura */
  --shadow-color: rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

body {
  background: linear-gradient(45deg, #E6F0F4 0%, #FFFFFF 100%); /* Gradiente gris azulado a blanco */
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Contenedor de la imagen principal */
.main-image-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--shadow-color);
  position: relative;
}

.main-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.85;
}

.main-image-container::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 1;
  
}
.main-image-container img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* Estilo de texto sobre la imagen */
.title-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, 10%);
  color: #ffffff; /* Blanco para buen contraste con el gradiente */
  padding: 2rem;
  background: linear-gradient(135deg, #262767, #4f4e8f); /* Gradiente de azul oscuro a un azul más suave */
  border-radius: 8px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.title-img div {
  margin-bottom: 0.5rem;
}

.div-1 {
  font-size: 2rem;
  font-weight: bold;
  color: #f3f3f3; /* Color claro para destacar sobre el fondo oscuro */
}

.div-2 {
  font-size: 1.8rem;
  color: #c0c0c0; /* Gris claro para un contraste suave, pero legible */
}

.div-3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #ffffff; /* Blanco para destacar los títulos principales */
}

.div-4 {
  font-size: 1.2rem;
  color: #a2c8f0; /* Color más suave y frío para un enlace */
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.div-4:hover {
  color: #5d89c6; /* Un tono más fuerte de azul para el efecto hover */
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .main-image-container {
      height: 60vh;
  }

  .title-img {
      padding: 1.5rem;
  }

  .div-1 {
      font-size: 1.8rem;
  }

  .div-2 {
      font-size: 1.6rem;
  }

  .div-3 {
      font-size: 2.2rem;
  }

  .div-4 {
      font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .main-image-container {
      height: 50vh;
  }

  .title-img {
      padding: 1rem;
  }

  .div-1 {
      font-size: 1.5rem;
  }

  .div-2 {
      font-size: 1.4rem;
  }

  .div-3 {
      font-size: 1.8rem;
  }

  .div-4 {
      font-size: 0.9rem;
  }
}
