
/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
  width: 100%;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1px;
  border-radius: 2rem;
}

.TReportes{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.losreportes{
  display: flex;
  flex-wrap: wrap;
  background-color: #dddddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  padding: 1px;
  width: 120.5rem;
  border-radius: 2rem;
  height: 60rem;
  align-items: flex-start;
  position: relative;
}

.mireportes{
  background-color: #ddddee;
  margin: 0;
  padding: 1px;
  width: 100%;
  align-items: start;
  flex:1;
  border-radius: 2rem 0 0 2rem;
  height: 100%;
  
}
.mireportes1{
  background-color:#ddddee;
  margin: 0;
  padding: 1px;
  width: 100%;
  flex:1;
  border-radius: 2rem 0 0 2rem;
  height: 100%; 
  overflow: auto;
}


@media screen and (max-width: 1000px){
  .losreportes{
    width: 60.5rem;
  }

  .mireportes{
    border-radius: 2rem 2rem 0 0;
    width: 100%;
  }

  .mireportes1{
    border-radius: 0 0 2rem 2rem;
    width: 100%;
  }
}


@media screen and (max-width: 620px){
  .losreportes{
    width: 91%;
  }

  .mireportes{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .mireportes1{
    width: 100%;
    border-radius: 0 0 1rem 1rem;
  }
}

.opciones{
  display:inline-block;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 20px;
}
.TOpciones{
  display: block ;
  text-align: center;
  margin-bottom: 10px;
  /* tamano letra */
  font-size: 25px;
  color: var(--dark-grey);

}
.OSelect{
  text-align: center;
  margin: 5px;
  font-size: 16px;
  padding: 2px;
  background-color: var(--tertiary-color);
}
.form-control{
  background-color: var(--tertiary-color);
  font-size: 16px;
}
.enviar{

  transition-duration: 0.4s;
}

.btn-tipo-1{
  background-color: #0202022c;
  font-size: 1.2rem;
}

.btn-tipo-1__selected{
  background-color: blue;
}


.hidden{
  visibility: hidden !important;
  pointer-events: none;
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  position: absolute;
}

.img-form{
  width: 10rem;
  background:  linear-gradient(45deg, #C0D6E433 0%, #FFFFFF44  100%),
  url('../assets/test.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
}


.btn-next-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.select{
  border: #aaa;
  outline: none;
}

.select:active{
  border: #999;

}

.btn-next{
  background-color: #C0D6E4 ;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 2rem;
  right: 12rem;
  font-weight: 500;
}

.btn-previews-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  
}

.btn-previews{
  background-color: #C0D6E4 ;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  font-weight: 500;
}

#btn-abrir-modal{
  background-color: #BBB ;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 2rem;
  right: 12rem;
  font-weight: 500;
}

  