
/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
}


#mireportes{
  background-color: var(--primary-color-light-2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 3rem auto 10rem;
}


.estatus-leido{
   background-color: #ccc /* Gris claro */
}

.estatus-no-leido {
  background-color: #eaeaea;  /* Blanco */
}


.notifications-container{
  display: flex;
  height: 100vh;
}
.selecionable {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.selecionable:hover {
  background-color: var(--primary-color-light-1); /* o el color que prefieras para el hover */
}

.selecionable:active {
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.table-responsive {
  overflow-y: auto; /* Permitir desplazamiento vertical */
<<<<<<< HEAD
  max-height: 60vh; /* Ajusta según sea necesario */
=======
  max-height: 60vh /* Ajusta según sea necesario */
>>>>>>> 8d6167b0c6142072b7450cd2834187113e3701ca
}

.table thead th {
  position: sticky; /* Fijar posición */
  top: 0; /* Posición en la parte superior */
  background-color: var(--primary-color-light-2);
  z-index: 1; /* Asegurarse de que el encabezado esté por encima */
}
