
/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */

body {
  background-color: #F0F0F0; /* Fondo gris claro */
}



body {
  background-color: #F0F0F0; /* Fondo gris claro */
}

#mireportes {
  background: linear-gradient(45deg, #E6F0F4 0%, #FFFFFF 100%); /* Gradiente gris azulado a blanco */
  padding: 2rem;
  margin: 2rem auto !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: auto;
  border: 2px solid #C0D6E4; /* Bordes gris azulado */
  color: #444; /* Texto oscuro */
}
.estatus-en-proceso {
  border-radius: 50%;
  color: #6d6125; /* Amarillo más intenso */
  font-weight: bold; /* Negritas */
  text-align: center;
  width: 1rem;
}

.estatus-aceptado {
  background-color: transparent; /* Sin fondo */
  color: #388e3c; /* Verde más intenso */
  font-weight: bold; /* Negritas */
}

.estatus-rechazado {
  background-color: transparent; /* Sin fondo */
  color: #d32f2f; /* Rojo más intenso */
  font-weight: bold; /* Negritas */
}

.estatus-completado {
  background-color: transparent; /* Sin fondo */
  color: #1976d2; /* Azul más intenso */
  font-weight: bold; /* Negritas */
}

.selecionable {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.selecionable:hover {
  background: linear-gradient(45deg, #c0d7e0 0%, #e1e1e1 100%);
  border-radius: 3px;
}

.selecionable:active {
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.seguimiento_p {
  background: linear-gradient(45deg, #c0d7e0 0%, #e1e1e1 100%); /* Gradiente suave */
  border-radius: 5px; /* Bordes redondeados */
  padding: 0.4rem 0.8rem; /* Espaciado interno */
  color: #444; /* Color del texto oscuro */
  font-weight: bold; /* Negritas */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar cursor al pasar */
  transition: background 0.3s ease, transform 0.3s ease; /* Transición suave */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  margin-left: 3rem;
}

.seguimiento_p:hover {
  background: linear-gradient(45deg, #99c7da 0%, #d1d1d1 100%); /* Hover más oscuro */
  transform: scale(1.05); /* Aumentar tamaño ligeramente al pasar el ratón */
}
.seguimiento_p i{
  font-size: small;
}
