{% extends 'adm_base.html' %}
{% load static %}
{% load tz %}
{% block title %}Inicio{% endblock %}
{% block css %} 
  <link rel="stylesheet" href="{% static 'css/adm_usuarios.css' %}" /> 
{% endblock %}
  
{% block contenido %}
  <div class="d-flex">
  <section class="d-flex flex-column justify-content-start container reportes">
    <section class="d-block filtros py-4 px-2 container flex-grow-0"> 
    <div>
      <div class="row  d-flex justify-content-center w-100 text-center">

        <div class="col">
          <div class="row">
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Fecha registro</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="fecha">
              <option value="Todos">Todos</option>
              <option value="Hoy">Hoy</option>
              <option value="Ayer">Ayer</option>
              <option value="7 días">Hace 7 días</option>
              <option value="Mes">Hace un mes</option>
              <option value="Año">Hace un año</option>
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Tipo usuario</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="tipo_usuario">
              <option value="Todos">Todos</option>
              <option value="Usuario">Usuario</option>
              <option value="Admin">Administrador</option>
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Estatus</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="estatus_usuario">
              <option selected value="Todos">Todos</option>
              <option  value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Usuarios por página</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="reportes_pagina">
              <option selected value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
            </select>
          </div>
          </div>
          <form class="row w-100 d-flex align-items-end h-50 mt-3" id="formBusqueda">
            <div class="input-group mb-3 w-50 m-auto">
              <input type="text" id="inputBusqueda" class="form-control" placeholder="Usuario, ID o correo" aria-label="Recipient's username" aria-describedby="btnBusqueda">
              <button class="btn btn-outline-secondary" type="submit" id="btnBusqueda">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
    </section>
    <section class="container mx-auto my-5 mb-4" id="mireportes">
    <div class="d-flex justify-space-between w-100">
      <h1 class="fw-bold display-5 flex-grow-1" id="newarrivals">Usuarios</h1>
      <div id="btnRecargarTabla" class="cursor-pointer"><i class="fa-solid fa-rotate-right"></i></div>
    </div>
    <div class="row d-flex flex-column">
      <table class="table">
        <thead>
          <tr>
            <th class="selecionable" data-orden="asc" id="th_id_reporte" scope="col">ID #</th>
            <th scope="col">Usuario</th>
            <th scope='col'>Tipo</th>
            <th scope="col">Correo</th>
            <th class="selecionable" data-orden="asc" id="th_reportnum" scope="col">Cantidad reportes</th>
            <th class="selecionable" data-orden="asc" id="th_fecha" scope="col" scope="col">Fecha de registro</th>
            <th scope="col">Seguimiento</th>
            <th scope="col">
              <select class="form-select" id="estatusSelect">
                <option value="" disabled selected>Selecciona una Accion</option>
                <option value="Aceptar">Aceptar</option>
                <option value="Rechazar">Rechazar</option>
                <option value="Completar">Completar</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody id='contenedor_problemas'>
          {% for u in usuarios %}
          
          <tr id="usuario-{{u.id}}">
            <th scope="row">{{u.id}}</th>
            <td>
              {% if not u.is_active %}
                <span class="text-danger">
                  <i class="fa-solid fa-user-slash"></i> 
                  {{ u.first_name }} {{ u.last_name }}
                </span>
              {% else %}
                <span>
                  <i class="fa-solid fa-user"></i>
                  {{ u.first_name }} {{ u.last_name }}
                </span>
              {% endif %}
            </td>
            <td> 
              {% if u.is_staff %} 
                Admin 
              {% else %} 
                Usuario 
              {% endif %}
            </td>
            <td>{{u.email}}</td>
            <td>{{u.num_reportes}}</td>
            <td>{{u.date_joined|timezone:"America/Mexico_City"|date:"d/m/Y" }}</td>
            <td>
              <button id="p.{{p.id}}" class="seguimiento_p btn btn-secondary" href="#!" data-bs-toggle="modal" data-bs-target="#SeguimientoUsuario">
                <i class="fa-solid fa-arrow-up-long"></i>
              </button>
            </td>
            <td>
              <input class="form-check-input" type="checkbox" name="option1" value="something">
              {% comment %} <label class="form-check-label">Option 1</label> {% endcomment %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class='mt-2 pt-2 container' >
          <tr>
            <td colspan="8">
              <div class="d-flex justify-content-center w-100 py-1">
                <button class="btn btn-light invisible flex-grow-0 px-3" id='btn_problema_anterior'>
                  <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button class="btn btn-light invisible flex-grow-0 px-3" id='btn_problem_siguiente'>
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
                <div class="ps-3 text-end flex-grow-1 fst-italic" id="num_resultados"><div/>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    </section>
  </section>
  </div> 
{% endblock %}
{% block modal %}

 {% include 'partials/modal_adm-usuario.html'%}

{% endblock %}

{% block scripts %}
 <script src="{% static 'js/adm_usuarios.js' %}" type="module"></script>
{% endblock %} 